<% provide(:title, 'All users') %>
<h1 style="color:#3fc35f; font-family:f">All users</h1>
<div style="margin-left:260px">
<%= will_paginate %>
</div>
<ul class="users" style="margin-left:150px">
  <li>
    <%= render @users %>
  </li>
</ul>

